body{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #34495e;
}

.container{
  text-align: center;
  background: white;
  padding: 2rem;
  border-radius: 10px;
}

.clock{
  width: 500px;
  text-align: center;
  color: white;
  font-size: 1em;
  margin: 1rem 0;
}

.clock >span{
  padding: 10px;
  border-radius: 10px;
  background-color: black;
}

.clock >span > span{
  padding: 5px;
  border-radius: 10px;
  background-color: red;
}



input{
  padding: 15px;
  margin: 20px;
  font-size: 1.5em;
}
